:root {
    --basecolor: #0C242E;
    --accentcolor: #0C242E;
    --holoblue: #00E2E2;

    --app-border-radius: 20px 20px 0 0;
}

@keyframes recGlow {
  from {
    box-shadow: rgba(255, 0, 0, 1) 0 0 1px;
  }
  50% {
    box-shadow: rgba(255, 0, 0, 1) 0 0 5px 1px;
  }
  to {
    box-shadow: rgba(255, 0, 0, 1) 0 0 1px;
  }
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 1px red;
  }
  50% {
    text-shadow: 1px 1px 3px red;
  }
  to {
    text-shadow: 0 0 1px red;
  }
}

html {
	box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: white;
    color: var(--basecolor);
    margin: 0;
}
article {
    text-align: center;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

header {
    padding: 0.75em 0;
    background-color: white;

    h1 {
        height: 50px;
        background: url(/images/mark.png) center no-repeat;
        background-size: contain;
        text-indent: -9999em;
        margin: 0;
    }
}

.container {
    position: relative;
    border-radius: var(--app-border-radius);;
    overflow: hidden;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.25);
}

.starter {
    transition: background-color 2.5s ease;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--basecolor);
    color: white;
    text-align: center;
    border-radius: var(--app-border-radius);

    h2 {
        transition: transform 0.1s ease;
        position: relative;
        top: 2.5%;
        width: 100%;
    }

    .running & {
        background-color: transparent;
        pointer-events: none;

        h2 {
            transform: scaleX(1.5) scaleY(0);
        }
    }
}

.monitor-container {
    height: calc(100vh - 50px - 1.5em);
    width: 100vw;
    overflow: hidden;
}

.monitor {
    transform: rotateY(-180deg);
    pointer-events: none;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    border-radius: var(--app-border-radius);

    .running & {
        pointer-events: auto;
    }
}

.live {
    display: none;
    animation: textGlow 1.25s linear infinite;
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16pt;
    right: 35px;
    top: 20px;
    text-shadow: 1px 1px 1px red;
    letter-spacing: 1px;

    &:before {
        content: '';
        animation: recGlow 1.25s linear infinite;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: red;
        position: absolute;
        left: -20px;
        margin-top: 5px;
    }

    .running & {
        display: block;
    }
}

.graph {
    display: none;
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    border-radius: var(--app-border-radius);

    &.loaded {
        display: block;
    }

    .graph-loaded & {
        background-color: rgba(12, 36, 46, 0.8);
    }

    svg {
        height: 100% !important;
        width: 100% !important;
    }
}

.capture {
    display: none;
    transition: transform 0.25s ease;
    background: url(/images/capture.png) center no-repeat white;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    padding: 25px;
    position: fixed;
    bottom: 5%;
    left: calc(50% - 1.5rem);
    z-index: 2;
    text-indent: -9999em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);

    .running & {
        display: inline;
    }

    &:hover {
        transform: scale(1);
    }

    &:focus {
        outline: none;
    }
}

.node {
  fill: var(--holoblue);
  stroke: white;
  stroke-width: 1.5px;
}

.link {
  stroke: white;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}
